apiVersion: apps/v1
kind: Deployment
metadata:
  name: karthik-ui-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
      - name: ui
        image: karthikeyanbalusami/ui:latest
        ports:
        - containerPort: 8501
        env:
        - name: API_URL
          value: "http://karthik-api-svc:8000/predict"  
---
apiVersion: v1
kind: Service
metadata:
  name: karthikeyan-ui-svc
spec:
  type: NodePort
  selector:
    app: ui
  ports:
  - port: 8501
    targetPort: 8501
    nodePort: 30001
